[Unit]
Description=Raspberry Pi Accellerated Video Player
After=openhd.service

[Service]
Type=simple
ExecStart=/usr/bin/omxplayer -o hdmi -live udp://127.0.0.1:5600
ExecReload=/bin/kill -1 $MAINPID
ExecStop=/bin/kill -9 $MAINPID
TimeoutStopSec=5s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
